# AWS Configuration
AWS_REGION=ap-south-1
AWS_PROFILE=default

# Terraform
TF_VAR_instance_type=t2.micro
TF_VAR_environment=dev

# Docker Hub
DOCKER_USERNAME=your_dockerhub_username
DOCKER_PASSWORD=your_dockerhub_password
DOCKER_REGISTRY=docker.io

# Jenkins
JENKINS_URL=http://jenkins-server:8080
JENKINS_PORT=8080
JENKINS_USER=admin
JENKINS_PASSWORD=your_jenkins_password

# Application
APP_NAME=devops-project
APP_VERSION=v1
APP_ENV=development

# Kubernetes
K8S_NAMESPACE=default
K8S_REPLICAS=2
K8S_IMAGE=yourdockerhubusername/devops-project:v1

# Monitoring
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000