apiVersion: v1
kind: Secret
metadata:
  name: devops-secrets
  namespace: devops
type: Opaque
stringData:
  DOCKER_USERNAME: "yourdockerhubusername"
  DOCKER_PASSWORD: "yourdockerhubpassword"
  DB_USERNAME: "admin"
  DB_PASSWORD: "changeme"